MAILTRAP_SMTP_HOST=
MAILTRAP_SMTP_PORT=
MAILTRAP_SMTP_USER=
MAILTRAP_SMTP_PASS=


GEMINI_API_KEY=
FRONTEND_URL=


INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=


COOKIE_LIFETIME_DAYS=30
PORT=5000
NODE_ENV=development